.img {
    transition: 1s;
    width: 15%;
    height: 50%;

  }

.img:hover {
  cursor: pointer;
}

.App div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 5em;
  
}
body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-repeat: no-repeat;
}

.home {
  text-align:center;
  color: darkblue;
}
.App {
  width: 100%;
}